In [60]:
import pandas as p
import matplotlib.pyplot as plt
from sklearn import linear_model
data = p.read_csv("H:\\py-master\\py-master\\ML\\2_linear_reg_multivariate\\Exercise\\hiring.csv")

import math
data.test_score_out_of_10 = data.test_score_out_of_10.fillna(5)
data.experience = data.experience.fillna(0)
data

   experience  test_score_out_of_10  interview_score_out_of_10  salary_USD
0         0.0                   8.0                          9       50000
1         0.0                   8.0                          6       45000
2         5.0                   6.0                          7       60000
3         2.0                  10.0                         10       65000
4         7.0                   9.0                          6       70000
5         3.0                   7.0                         10       62000
6        10.0                   5.0                          7       72000
7        11.0                   7.0                          8       80000

In [61]:
new_data = data.drop('salary_USD',axis = 'columns')
new_data

   experience  test_score_out_of_10  interview_score_out_of_10
0         0.0                   8.0                          9
1         0.0                   8.0                          6
2         5.0                   6.0                          7
3         2.0                  10.0                         10
4         7.0                   9.0                          6
5         3.0                   7.0                         10
6        10.0                   5.0                          7
7        11.0                   7.0                          8

In [67]:
model = linear_model.LinearRegression()
model.fit(new_data,data.salary_USD)
model.predict([[12,10,10]])

array([95147.62032805])

In [68]:
model.score(new_data,data.salary_USD)

0.9899903033301837

In [69]:
model.intercept_

15859.998207403412

In [70]:
model.coef_

array([3083.80388993, 2146.99291924, 2081.2046249 ])